@model ProyectoFinalDesarrollo.Models.DVentaModel

@{
    ViewData["Title"] = "Agregar Producto";
}

<h1>Agregar - Producto</h1>

<h4>DVentaModel - Agregar Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregarp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoEVenta" class="control-label"></label>
                <input asp-for="CodigoEVenta" class="form-control" data-val="@Context.Request.RouteValues["id"]" value="@Context.Request.RouteValues["id"]" />
                <span asp-validation-for="CodigoEVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CodigoProducto, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("CodigoProducto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoProducto, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Context.Request.RouteValues["id"]">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
