@model ProyectoFinalDesarrollo.Models.DVentaModel

@{
    ViewData["Title"] = "Eliminar producto";
}

<h1>Eliminar - Producto</h1>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <h4>DVentaModel - Eliminar Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
    
    <form asp-action="Eliminarp">
        <input type="hidden" asp-for="CodigoDVenta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
