@model IEnumerable<ProyectoFinalDesarrollo.Models.DVentaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - Detalle de Venta</h1>

<p>
    <a asp-action="Agregarp" asp-route-id="@Context.Request.RouteValues["id"]">Agregar Producto</a> |
    <a asp-controller="EVentaModels" asp-action="Index">Regresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a asp-action="Editarp" asp-route-id="@item.CodigoDVenta">Editar</a> |
                <a asp-action="Detaillesp" asp-route-id="@item.CodigoDVenta">Detalles</a> |
                <a asp-action="Eliminarp" asp-route-id="@item.CodigoDVenta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
