@model IEnumerable<ProyectoFinalDesarrollo.Models.ClientesModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaCliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
