@model ProyectoFinalDesarrollo.Models.EVentaModel

@{
    ViewData["Title"] = "Anular";
}

<h1>Anular</h1>

<h3>Esta seguro de anular este registro?</h3>
<div>
    <h4>EVentaModel - Anular</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Anular">
        <input type="hidden" asp-for="CodigoEVenta" />
        <input type="submit" value="Anular" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
