@model IEnumerable<ProyectoFinalDesarrollo.Models.ProductosModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UbicacionFisica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistenciaMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistenciaMinima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodigoProducto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
